html {
  display: flex;
  justify-content: center;
}

body {
  text-align: center;
  background-color: #EDEDED;
}

.summary-card {
  background-color: white;
  cursor: pointer;
}

.name-block {
  background-color: #969696;
  color: #FFFFFF;
  border-radius: 8px 8px 0px 0px;
  position: relative;
}

.name-block img {
  filter: brightness(0) invert(1);
}

.name-icon {
  position: absolute;
  top: 16.5px;
  left: 18.5px;
}

.name {
  position: absolute;
  margin: 0px;
  top: 64px;
  left: 16px;
}

.demographic-block, .field {
  display: flex;
  justify-content: space-between;
}

.demographic-block {
  align-items: flex-start;
  box-sizing: border-box;
  border-bottom: solid #D4D4D4;
}

.label-block {
  display: flex;
}

.label {
  color: #757575;
}

.value {
  color: #3B3B3B;
}

.fields {
  display: grid;
}

.field {
  border-width: 0.5px;
  background-color: #EDEDED;
  align-items: center;
}

.details-block {
  background-color: #fff;
  border-radius: 0px 0px 8px 8px;
}

.cards-block {
  display: grid;
  margin-bottom: 10px;
}

#before-search {
  width: 100%;
}

.btn-top {
  display: flex;
  align-items: center;
  padding: 1px 4px 1px 4px;
  border: none;
  border-radius: 4px;
  color: #3B3B3B;
  cursor: pointer;
}

.btn-top>span {
  margin-left: 4px;
}

#top-btn-bar-left {
  display: flex;
}

#top-btn-bar-left>button:nth-child(1) {
  background-color: white;
  margin-right: 8px;
}

#top-btn-bar-left>button:nth-child(2) {
  background-color: #E4E4E4;
}

#top-btn-bar>button:nth-of-type(1) {
  border: solid #B8B8B8 1px;
}

#top-btn-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: solid #B8B8B8;
}

#search-and-sort {
  display: grid;
  grid-template-rows: auto auto;
}

#search {
  background-image: url(./icons/Search.svg);
  background-repeat: no-repeat;
  border: none;
  padding: 5px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

#sort-bar {
  padding: 8px 0px 24px 0px;
  display: flex;
  align-items: center;
  font-size: 13px;
}

#route-bar {
  margin: 48px 0px 24px 0px;
}

#route-bar, #sort-bar {
  display: flex;
}

#route-bar>span:nth-child(1) {
  color: #757575;
}

#route-bar>span:nth-child(3) {
  color: #969696;
}

#route-bar img {
  filter: invert(19%) sepia(0%) saturate(1235%) hue-rotate(171deg) brightness(108%) contrast(80%);
}

#sort-btn-group>button {
  border: none;
  padding: 8px 10px 8px 10px;
  height: 32px;
  background-color: white;
  cursor: pointer;
}

#sort-btn-group {
  border: solid #B8B8B8 1px;
  margin-left: 6px;
  border-radius: 6px;
}

#sort-btn-group>button:nth-child(1) {
  border-radius: 6px 0px 0px 6px;
  border-right: solid #B8B8B8 1px;
}

#sort-btn-group>button:nth-child(2) {
  border-radius: 0px 6px 6px 0px;
}

#sort-btn-group>button:focus {
  background-color: #B8B8B8;
}

#sortBy {
  border: none;
  border-radius: 6px;
  height: 32px;
  margin-left: 6px;
  font-size: 14px;
}

.detailed-card {
  cursor: pointer;
}

.split-btn {
  display: flex;
  margin-left: 6px;
  height: 32px;
  border: solid #B8B8B8 1px;
  border-radius: 6px;
  background-color: #B8B8B8;
}

.split-btn button {
  border-style: none;
  padding: 0px;
  border-radius: 4px 0 0 4px;
}

.split-btn>button {
  width: 80px;
  border-right: 1px solid #B8B8B8;
  border-radius: 6px 4px 4px 6px;
  background-color: white;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 28px;
}

.split-btn .dropdown button {
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  background-color: #B8B8B8;
}

.dropdown .dropdown-content {
  position: absolute;
  top: 35px;
  z-index: 2;
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .dropdown-content a {
  display: block;
  background-color: #eee;
  color: #333;
  padding: 8px 16px;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
  cursor: pointer;
}

.dropdown img {
  filter: brightness(0) invert(1);
}

@media only screen and (min-width: 320px) {
  body {
    width: 86%;
  }
  #top-btn-bar {
    margin-top: 24px;
    height: 72px;
  }
  .btn-top {
    height: 32px;
  }
  #search {
    background-position: right 10.5px center;
  }
  .summary-card {
    width: 100%;
    border-radius: 8px;
  }
  .name-block {
    height: 98px;
  }
  .icon {
    margin: 10.5px 6.5px 9.5px 0px;
  }
  .field {
    height: 32px;
    padding-right: 8px;
    padding-left: 9.5px;
    border-radius: 4px;
    ;
  }
  .label {
    margin: 11px 0px 11px 0px;
    font-size: 10px;
  }
  .value {
    font-size: 14px;
  }
  .details-block {
    padding: 0px 16px 16px 16px;
  }
  .fields {
    row-gap: 8px;
    width: 100%;
  }
  .demographics {
    padding: 16px 0px 16px 0px;
  }
  .demographic-block {
    height: 24px;
  }
  .gender {
    margin-left: 4px;
  }
  .cards-block {
    row-gap: 24px;
  }
  .btn-top span, .btn-top {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    width: 55%;
  }
  .cards-block {
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }
  .detailed-card {
    grid-column: 1 / 3;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    width: 82vw;
  }
  .summary-card {
    width: 15vw;
  }
  .cards-block {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
  }
  #search-and-sort {
    grid-template-rows: 32px;
    grid-template-columns: 72% 28%;
    margin-bottom: 24px;
  }
  #sort-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
  }
  .detailed-card {
    grid-column: 1 / 3;
  }
}